/examples/**/*.pem
!/examples/**/Certificate.pem
!/examples/**/PrivateKey.pem
/examples/**/build
/examples/**/erase.*
/examples/**/flash.*
/examples/**/sdkconfig
!/examples/**/sdkconfig.defaults
/examples/**/sdkconfig.old
/examples/**/dependencies.lock
/tools